extends _layout.pug

block content
    article
        h1 Hello CSS!

        p Available pages:

        nav
            a(href="styles.html") All Styles
            a(href="article.html") Article Sample
